@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@import '@fontsource/atkinson-hyperlegible';
@import '@fontsource/jetbrains-mono';

@theme {
	--font-system-ui: 'Atkinson Hyperlegible', ui-sans-serif, system-ui, sans-serif;
	--font-monospace-code: 'JetBrains Mono', ui-monospace, monospace;

	--color-brand: light-dark(var(--color-orange-600), var(--color-orange-400));
	--color-primary: light-dark(var(--color-stone-800), var(--color-stone-300));
	--color-secondary: light-dark(var(--color-stone-700), var(--color-stone-500));
	--color-surface-1: light-dark(var(--color-stone-50), var(--color-stone-900));
	--color-surface-2: light-dark(var(--color-stone-100), var(--color-stone-800));
	--color-surface-3: light-dark(var(--color-stone-200), var(--color-stone-700));
	--color-surface-4: light-dark(var(--color-stone-300), var(--color-stone-600));
	--color-border: light-dark(var(--color-stone-400), var(--color-stone-600));
}

@layer base {
	html {
		color-scheme: light dark;
	}

	html,
	body {
		@apply h-full;
	}

	html {
		@apply font-system-ui text-primary;
		background: linear-gradient(to bottom right, var(--color-surface-1), var(--color-surface-2));
		background-attachment: fixed;
	}

	img {
		@apply rounded-lg;
	}

	ul,
	ol {
		@apply list-none p-0;
	}

	li {
		@apply ps-0;
	}
}
